/* CSS REST */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GLOBAL CSS */
.w8{
    width: 80%;
    margin: auto;
}
.flex{
    display: flex;
}
.items{
    align-items: center;
    justify-content: space-between;
}
.fig{
    position: relative;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}

.ul-1{
    gap: 46px;   
    padding-right: 20px;
}
header{
    background-color: black;
}
.sec-pr{
    background-color: black;
}
.div-1{
    padding-bottom: 150px;
}
.div-1 h1{
font-size: 70px;
color: white;

}
.div-1 p{
font-size: 20px;
color: white;
padding: 20px 0px;
}
.div-1 button{
    padding: 10px;
    width: 150px;
    height: 50px;
    background: none;
    color: white;
    border-color: white;
    border-radius: 10px;s  
}
.img-1{
    width: 826px;
    position: absolute;
    right: 155px;
    bottom:-120px;
}
.img-2{
    position: absolute;
    right: 168px;
    bottom: 372px;
    z-index: -1;
}
.fig-1{
    width: 130px;
    border: solid;
    border-radius: 10px;
    border-color: #D9D9D9;
    padding: 10px;
    
}
.fig-1 p{
    margin-left: 21px;
}
.fig-pr{
    padding: 100px 0px;
    gap: 20px;
}
.fig-2{
    width: 130px;
    border: solid;
    border-radius: 10px;
    border-color: #D9D9D9;
    padding: 10px;
}
.fig-2 p{
     margin-left: 29px;
}
.div-2 ul{
    display: flex;
    gap: 50px;
    margin-left: 103px;
    padding-top: 50px;
}
.div-2{
    align-items: center;
    justify-content: space-between;
}
.div-2 h1{
    margin-left: 230px ;
    font-size: 52px;
}
.div-3{
    background: url(./img/Rectangle\ 54.png);
    height: 325px;
    
}
.div-3 h1{
    color: white;
    font-size: 40px;
    padding: 20px;
}
.div-4{
    position: relative;
}
.img-4{
    position: absolute;
    left: 216px;
    bottom: -110px;
    width:702px;
}
.div-4 button{
    padding: 20px;
    width: 170px;
    border-radius: 10px;
    border-color: white;
    color: white;
    background: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 20px; 
}
.div-5{
    background-color:#212838;
    width: 245px;
    height: 234px;
    border-radius: 10px;
    margin-top: 10px;
     margin-right: 10px;
}
.img-5{
    width: 245px;
}
.marg-1{
    margin-top:-33px ;
    margin-left: 191px;
}
.marg-2{
    margin-left: 220px;
}
.div-5 p{
    color: white;
}
.serve{
    padding: 150px;
    font-size: 50px;
    margin-left: 351px;
}
.back-url{
    background: url(./img/Rectangle\ 147.png);
    width: 298px;
    border-radius: 5px;
    margin-left: 154px;
}
.back-url-2{
    background: url(./img/Rectangle\ 147.png);
    width: 298px;
    border-radius: 5px;
    margin-left: 17px;
    margin-top: 8px;
}
.div-6{
    color: white;
    padding: 40px;
    width: 281px;
    
}
.img-6{
    margin-top:-4px ;
    margin-left: 140px;
}
.img-7{
    height: 285px;
    width: 462px;
    margin-left: 12px;
}
.img-8{
    height: 285px;
    width: 462px;
    margin-left: 156px;
    margin-top: 10px;
}
.img-9{
    margin-top:-4px ;
    margin-left: 140px;
}
.div-6 h2{
    margin-bottom: -16px;
}
footer{
    background-color: #212838;
    margin-top: 200px;
}
.div-7{
    align-items: center;
    justify-content:space-between;
}
.ul-2{
    margin-right: 175px;
}